.header {
    box-sizing: content-box;
    height: 70px;
    width: 100vw;
    min-width: 765px;
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
  
    .social-nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 calc(auto-10px);
    }
  
    .options {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: bold;
  
      .option {
        text-decoration: none;
        color: black;
        padding: 10px 15px;
        cursor: pointer;
      }
      .option:hover{
        cursor: pointer;
      }
    }
  }
