header {
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 200px;
  .header-components {
    width: fit-content;
    align-self: center;
    top: 50%; 
  }
}
